{% extends 'base.html.twig' %}

{% block title %}New Versement{% endblock %}

{% block body %}
    <h1>Create new Versement</h1>

    {{ include('versement/_form.html.twig') }}

    <a href="{{ path('versement_index') }}">back to list</a>
{% endblock %}
